{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блогикум</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="logo">B</div>
        <a href="{% url 'home' %}" class="site-name">Блогикум</a>

        <nav>
            <a href = "{% url 'add_post' %}" id = 'addPostLink'>Добавить пост</a>
            <a href="{% url 'about_project' %}">О проекте</a>
            <a href="{% url 'rules' %}">Правила</a>
            <a href="{% url 'authentication' %}" id="loginLink" class="nav-link">Войти</a>
            <a href="{% url 'registration' %}" id="registerLink" class="nav-link register">Регистрация</a>
        </nav>
    </header>

    <main>
        <!-- Блок с постами -->
        <aside class="posts-container">
            <h2>Все посты</h2>
            {% for post in posts %}
            <div class="post">
                <h3>{{ post.title }}</h3>
                <p>{{ post.text }}</p>
                <p><strong>Категория:</strong> {{ post.category }}</p>
                <p><strong>Дата:</strong> {{ post.date_create }}</p>
                <p><strong>Лайки:</strong> ❤️ {{ post.likes }}</p>
            </div>
            {% empty %}
            <p>Постов пока нет.</p>
            {% endfor %}
        </aside>
    </main>

</body>
</html>
