{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блогикум - Профиль</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">B</div>
        <a href="{% url 'home' %}" class="site-name">Блогикум</a>

        <nav>
            <a href="{% url 'profile' %}" class="nav-link">{{ user.username }}</a>
            <a href="#" onclick="document.getElementById('myForm').submit();">Выйти</a>
            <form id="myForm" action="{% url 'logout' %}" method="POST" style="display: none;">
                {% csrf_token %}
            </form>
            <a href="{% url 'about_project' %}" class="nav-link">О проекте</a>
            <a href="{% url 'rules' %}" class="nav-link">Правила</a>
        </nav>
    </header>

    {% block UserProfile %}
    <div class="form-container">
        <h1>Профиль пользователя</h1>

        {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="Аватар пользователя" class="avatar">
        {% else %}
            <img src = 'media/users/default.png'>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
    {% endblock%}
</body>
</html>
