{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блогикум</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="brand">
            <div class="logo">B</div>
            <a href="{% url 'home' %}" class="site-name">Блогикум</a>
        </div>
    
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="nav-link">{{ user.username }}</a>
                <a href="#" onclick="document.getElementById('myForm').submit();">Выйти</a>
                <form id="myForm" action="{% url 'logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
                </form>
                <a href="{% url 'add_post' %}" id='addPostLink'>Добавить пост</a>
            {% else %}
                <a href="{% url 'login' %}" id="loginLink" class="nav-link">Войти</a>
                <a href="{% url 'register' %}" id="registerLink" class="nav-link register">Регистрация</a>
            {% endif %}
            <a href="{% url 'about_project' %}" class="nav-link">О проекте</a>
            <a href="{% url 'rules' %}" class="nav-link">Правила</a>
        </nav>
    </header>
        {% block posts %} {% endblock %}
        {% block AddPost %} {% endblock %}
        {% block UserProfile %} {% endblock %}
        {% block authentication %} {% endblock %}
        {% block registration %} {% endblock %}
        {% block about %} {% endblock %}
</body>