{% extends 'base.html' %}

{%block about%}
<div class = 'page-about'>
    <div class="container">
        <h2>Что такое Блогикум?</h2>
        <p><strong>Блогикум</strong> — это уникальная платформа для создания и обмена постами на различные темы. Наше приложение предоставляет пользователям возможность легко публиковать статьи, делиться мыслями и обсуждать актуальные вопросы. Мы верим, что каждый голос важен, и стремимся создать пространство, где идеи могут быть свободно выражены и услышаны.</p>
        
        <h2>Наши цели:</h2>
        <ul>
            <li><strong>Упростить создание контента:</strong> Интуитивно понятный интерфейс позволяет создавать и публиковать посты без лишних сложностей.</li>
            <li><strong>Поощрять общение:</strong> Пространство для обсуждений и обмена мнениями между пользователями.</li>
            <li><strong>Обогатить опыт:</strong> Мы поддерживаем разнообразие тем и взглядов, создавая богатое сообщество знаний.</li>
        </ul>
        
        <p><strong>Блогикум</strong> — это место, где ваши идеи могут стать видимыми для других. Мы гордимся тем, что наша платформа помогает людям не только выражать свое мнение, но и учиться чему-то новому, делая мир немного более открытым и взаимопонимаемым.</p>
    </div>
</div>
{% endblock %}